html,
body,
#root,
#app,
.App,
#app > div {
  height: 100%;
  overflow: hidden;
}

img {
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
}

.App {
  background-image: linear-gradient(135deg, #6c559d 10.4%, #3b2063 87.5%);
  width: 100%;
  height: 100%;
  display: block;
}

#menu-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  position: relative;
  z-index: 100;
}

#menu-container img {
  width: 100%;
  max-width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
}

.menuItem {
  height: 30px;
  width: 40px;
  padding: 0;
}

.menuItem span {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.menuItem span:hover {
  color: #3b2063;
}

.menuItemContainer {
  display: none;
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 90px;
}

.bigLettersContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

#airLetters {
  width: 15%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5%;
  margin-bottom: 1%;
}

.airmaxIMG {
  padding: 0 !important;
}

#airLetters img {
  width: 100%;
}

#airMaxLetters {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#airMaxLetters img {
  width: 100%;
}

#maxLetters {
  width: 20%;
  position: absolute;
  right: 0;
  margin-right: 25%;
}

#maxLetters img {
  width: 100%;
}

#diagonalLine-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

#diagonalLine {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 1px;
  border-style: dashed;
  border-width: 0.5px;
  -webkit-transform: rotate(45deg) scale(2);
          transform: rotate(45deg) scale(2);
  border-color: white;
}

#nikers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
  max-width: 370px;
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
}

#carrousellControls-container {
  width: 100%;
  height: 50px;
  border-style: solid;
  border-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.drawerText {
  color: #3b2063;
  font-size: 24px !important;
}

.menuButtom {
  position: absolute !important;
  top: 0;
  right: 0;
  color: white !important;
  z-index: 100 !important;
  outline: none !important;
}

#particlesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: red;
}

#seeDetails {
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-transform: translateY(130px);
          transform: translateY(130px);
  width: 220px;
  outline: none;
}

#seeDetails span {
  font-weight: bold;
}

@media only screen and (orientation: landscape) {
  #carrousellControls-container {
    width: 100%;
    height: 50px;
    border-style: solid;
    border-color: red;
    position: fixed;
    bottom: 0;
  }
}

@media only screen and (min-width: 576px) {
  .menuItemContainer {
    display: block;
  }
}
/*# sourceMappingURL=App.css.map */